

// Base Colors & Variables
$primary-color: #0173df;
$dark-color: #63634e;
$muted-color: #888888;
$table-bg: #fff;
$table-shadow: 0 0px 8px rgba(0, 0, 0, 0.1); // Medium shadow
$active-color:rgb(238, 238, 238);

//Border & Shadow
$bs-border: #e7e7e7;
$disabled-border: #f5f5f5;
$check-box-border: $bs-border;

//Layout & Spacing Variables
$table-spacing: 15px;
$table-spacing-sm: 5px;
$dropdown-spacing: 10px;
$table-round: 8px;
$table-flate: 0px;
$btn-round: 5px;
$btn-spacing: 5px;
$btn-flate: 0px;
$table-shadow: 0 0px 16px rgba(0, 0, 0, 0.1); // Large shadow
$media-size: 35px;
$dp-round: 10px;
$metrics-header-height: 60px;
$group-height:35px;
$group-height-sm:30px;

